<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="static/css/iview.css">
	<link rel="stylesheet" href="static/css/jquery.json-viewer.css">
	<link rel="stylesheet" href="static/css/main.css">
</head>
<body>
	<div id="app">
		<div class="zsx-setting" v-show="shadeShow">
			<div class="setting-box">
				<Card :bordered="false">
		            <p slot="title">{{label.setting}}</p>
		            <i-form :model="settingForm" ref="settingForm" :rules="rules" :label-width="80">
		            	<form-item :label="label.languageChoose" prop="language">
		            		<i-select v-model="settingForm.language">
		            			<i-option v-for="item in language" :value="item.value" :key="item.value">{{item.label}}</i-option>
		            		</i-select>
		            	</form-item>
		            </i-form>
		            <i-button type="primary" long @click="buSureSetting">{{label.besure}}</i-button>
		        </Card>
			</div>
		</div>
		<div class="zsx-header">
			<Badge :count="info.version" class-name="demo-badge-alone">
				<span class="text">{{info.title}}</span>
			</Badge>
		</div>
		<div class="zsx-sidebar">
			<i-menu :theme="sidebarTheme" mode="vertical" @on-select="selectMenu" style="width:300px;">
				<template v-for="item in sidebarData">
					<Submenu v-if="item.children" :name="item.name" :key="item.name">
		                <template slot="title">{{item.label}}</template>
		                <template v-if="item.children && item.children.length">
		                	<menu-item v-for="child in item.children" :key="child.name" :name="child.name" :title="child.label">
		                		<span :class="child.method">{{child.method.toUpperCase()}}</span>
		                		<span class="pad-left10">{{child.description}}</span>
		                		<span class="pad-left10" :name="child.name">{{child.label}}</span>
		                	</menu-item>
		                </template>
		            </Submenu>
		            <menu-item v-else :name="item.name" :key="item.name" :title="item.label" style="padding-left: 15px!important;">
						<span :class="item.method">{{item.method.toUpperCase()}}</span>
                		<span class="pad-left10">{{item.description}}</span>
                		<span class="pad-left10" :name="item.name">{{item.label}}</span>
					</menu-item>
				</template>
            </i-menu>
		</div>
		<div class="zsx-main-right">
			<div class="zsx-main" v-show="onOff">
				<!-- <div class="tags-box">
					<Tag type="dot" closable color="blue">标签一</Tag>
					<Tag type="dot" closable color="default">标签二</Tag>
				</div> -->
				<Tabs :value="showWhichOneTab" @on-click="clcikTag">
			        <tab-pane :label="mainData.description || mainData.path" name="description">
			        	<i-table border :columns="columnsTable" :data="tableData" size="small"></i-table>
			        	<form class="fieldsetForm">
						  <fieldset>
						    <legend>Parameters</legend>
						  </fieldset>
						</form>
			        	<i-table border :columns="columns" :data="mainData.parameters" size="small" no-data-text="label.none"></i-table>
			        	<form class="fieldsetForm">
						  <fieldset>
						    <legend>Responses</legend>
						  </fieldset>
						</form>
			        	<i-table border :columns="responseColumns" :data="responseData" size="small"></i-table>
			        </tab-pane>
			        <tab-pane :label="label.debug" name="debug">
			        	<form class="fieldsetForm">
						  <fieldset>
						    <legend>Parameters</legend>
						  </fieldset>
						</form>
			        	<div class="parameters-type">
			        		<span>Parameter Type : </span>
			        		<i-button :type="tableTextarea ? 'primary' : 'ghost'" @click="checkToForm">Form</i-button>
			        		<i-button :type="!tableTextarea ? 'primary' : 'ghost'" @click="checkToJson">Json</i-button>	
			        	</div>
			        	<i-table class="debug-table" v-show="tableTextarea" border :columns="debugColumns" :data="mainData.parameters" size="small" no-data-text="label.none"></i-table>
			        	<div class="textarea">
			        		<textarea v-show="!tableTextarea" v-model="textareaJsonStr" :disabled="isDisabled" rows="10" style="width: 100%;"></textarea>
			        	</div>
			        	<div style="margin-top: 10px;margin-bottom: 10px;">
			        		<i-button type="primary" @click="submitDebug">{{label.debug}}</i-button>
			        	</div>
			        	<form class="fieldsetForm">
						  <fieldset>
						    <legend>Responses</legend>
						  </fieldset>
						</form>
						<div class="response-box">
							<Spin size="large" fix v-show="spinShow"></Spin>
							<div class="response" v-show="showResponse">
								<div class="response-item">
									<h4 class="tit">Curl</h4>
									<div class="con">{{response.curl}}</div>
								</div>
								<div class="response-item">
									<h4 class="tit">Request URL</h4>
									<div class="con">
										<span>{{mainData.method}}</span>
										<span class="pad-left10">{{response.requestUrl}}</span>
									</div>
								</div>
								<div class="response-item">
									<h4 class="tit">Request Headers</h4>
									<div class="con">{{response.requestHeader}}</div>
								</div>
								<div class="response-item">
									<h4 class="tit">Response Body</h4>
									<div class="con response-body">
										<pre id="json-response"></pre>	
									</div>
								</div>
								<div class="response-item">
									<h4 class="tit">Response Code</h4>
									<div class="con">{{response.code}}</div>
								</div>
								<div class="response-item">
									<h4 class="tit">Response Headers</h4>
									<div class="con">{{response.headers}}</div>
								</div>
							</div>
						</div>
			        </tab-pane>
			    </Tabs>
			</div>
			<div class="zsx-footer">
				<a href="javascript:;" class="terms-service">{{info.termsOfService}}</a>
			</div>	
		</div>
	</div>
	<script src="static/js/vue.js"></script>
	<script src="static/js/iview.min.js"></script>
	<script src="static/js/vue-i18n.js"></script>
	<script src="static/js/axios.min.js"></script>
	<script src="static/js/jquery-3.3.1.min.js"></script>
	<script src="static/js/jquery.json-viewer.min.js"></script>
	<script src="static/js/main.vue.js"></script>
</body>
</html>