/*设置*/
.zsx-setting{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: #eee url('../images/bg.jpg') no-repeat center;
	z-index: 999;
}
.setting-box{
	position: absolute;
	right: 20%;
	bottom:30%;
	width: 300px;
}
/*头部*/
.zsx-header{
	height: 60px;
	line-height: 60px;
	padding-left: 20px;
	background-color: #23262E;
}
.zsx-header .demo-badge-alone{
	background: #7d8492 !important
}
.zsx-header .text{
	font-size: 22px;
	color: white;
}
.zsx-header .ivu-badge-count{
	right: -20px;
}
/*侧边栏*/
.zsx-sidebar{
	position: absolute;
	left: 0;
	top:60px;
	bottom: 0;
	width: 300px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #495060;
}
.zsx-sidebar .ivu-menu-item{
	overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    padding-top: 12px;
    padding-bottom: 12px;
}
.zsx-sidebar .ivu-menu-vertical .ivu-menu-submenu-title{
	padding-left: 15px!important;	
}
.zsx-sidebar .ivu-menu-vertical .ivu-menu-item{
	padding-left: 30px!important;
}
.get{color: #0f6ab4;}
.post{color: #009688;}
.put{color: #c5862b;}
.patch{color: orange;}
.delete{color: #a41e22;}
.head{color: aqua;}
.active{color: #fff!important;}
/*主要内容区*/
.zsx-main{
	position: absolute;
	left: 300px;
	right: 0;
	top: 60px;
	bottom: 44px;
	padding: 10px;
	overflow: auto;
}
.zsx-main .parameters-type{
	text-align: right;
	margin-top: 5px;
	margin-bottom: 5px;
}
.response-box{
	position: relative;
}
/*页脚*/
.zsx-footer{
	position: absolute;
	left: 300px;
	bottom: 0;
	right: 0;
	height: 44px;
	line-height: 44px;
	text-align: center;
	background-color: #666;
}
.terms-service{
	color: #333;
}
.terms-service:hover{
	color: red;
}
/*通用*/
.fieldsetForm{
	height: 40px;
}
.fieldsetForm fieldset{
	border:none;
	border-top: 1px solid #e2e2e2;
}
.fieldsetForm legend{
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
}
.pad-left10{padding-left: 10px;}